* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section,header,footer {
    padding: 0 2%;
}

main [class*="col-" ],footer [class*="col-" ] {
  /* debug */
  border: black 1px solid;
  height: 50px;
}
/* header */
header {
  height: 60px;
  position: fixed;
  top:0;
  z-index: 90;
  width: 100%;
  background-color: white;
}
header img {
  width: 150px;
  height: auto;
  padding-top: 10px;
}
/* main */
main {
  margin-top: 60px;
}
main section {
  /* debug */
  background-color: green;
  height: 200px;
  border: white 2px solid;
}
/* footer */
footer {
/* debug */
background-color: red;
height: 100px;
}
